{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HistoryGraphy{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HistoryGraphy</a></li>
            </ul>
            <ul class="right">
                {% if user.is_authenticated %}
                    <label for="profile-model">
                        <img src="{% static 'myapp/profile-user.png' %}" alt="User Icon" class="user-icon">
                    </label>
                {% else %}
                    <li><a href="/login-page/">Login</a></li>
                    <li><a href="/create-account-page/">Sign up</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>


    <input type="checkbox" id="profile-model" style="display: none;">
    
    <div class="model-overlay"></div>
    <div class="model">
        <h2>User Profile</h2>
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="/logout_user/" class="model-close">Logout</a>
        <label for="profile-model" class="model-close">Close</label>
    </div>

    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% block extra_js %}{% endblock %}
</body>
</html>
