{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myapp/graph.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <div class="banner-content">
        <label for="popup" class="add-node">New Node</label>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.24.0/cytoscape.min.js"></script>
<script>
    var projectId = "{{ project_id }}";  
    
    const graphData = JSON.parse('{{ graphData|escapejs }}');
    
   
    const nodes = graphData.nodes.filter(node => !node.data.isTimelineNode);
    

    const edges = graphData.edges;

    

    
</script>





<div id="cy" class="graph"></div> 

<script src="{% static 'js/graph.js' %}"></script>

<div class="checkbox-container">
    <input type="checkbox" id="timeline-checkbox" checked>
    <label for="timeline-checkbox">Show Timeline</label>
</div>

<input type="checkbox" id="popup" style="display: none;">
<div class="node-overlay"></div>
<div class="node-model">
    <h1>Create Source</h1>
    <div class="node-input">
        <form method="POST" id="create-node-form" action="/create-node/">
            {% csrf_token %}
            <div class="node-attribute">
                <p>Title:</p>
                <input type="text" id="node-name" name="node_name" placeholder="Enter source title">
                <p id="node-name-error" style="color: red; display: none;">Title is required</p>
            </div>
            <div class="node-attribute">
                <p>Source Type:</p>
                <input type="radio" id="primary" name="source_type" value="primary" style="display:none;">
                <label for="primary" class="node-type-primary">Primary</label>
                <input type="radio" id="secondary" name="source_type" value="secondary" style="display:none;">
                <label for="secondary" class="node-type-secondary">Secondary</label>
                
            </div>
            <div class="node-attribute" id="cites-container" style="display: none;">
                
                <div id="cites-setup" class = "cites-setup">
                    <p>Cites:</p>
                    <div id="cites-selector" class="cites-selector">Select a Source</div>
                    <div id="cites-dropdown" class="cites-dropdown" style="display: none;"></div>
                </div>
                <div id="selected-cites" class="selected-cites"></div>
            </div>
            
            <script src="{% static 'js/citations.js' %}">
                
            </script>

            
            <div class="node-attribute">
                <p>Author/creator:</p>
                <input type="text" id="author" name="author">
            </div>
            <div class="node-attribute">
                <p>Year Created:</p>
                
                <input type="text" class="year-input" id="year-created" name="year_input" placeholder="Enter year" pattern="\d*" maxlength="4"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')" list="year-options">
            
                <datalist id="year-options">
                    <!-- Year options will be added dynamically with JS -->
                </datalist>
            
                <div class="era-toggle">
                    <input type="radio" id="created-ad" name="year_created_era" value="AD" checked>
                    <label for="created-ad">AD</label>
                    <input type="radio" id="created-bc" name="year_created_era" value="BC">
                    <label for="created-bc">BC</label>
                </div>
            </div>
            
            <script src="{% static 'js/year.js' %}"></script>
            
            
            <div class="node-attribute">
                <p>Year Discovered:</p>
            
                <input type="text" class="year-input" id="year-discovered" name="year_input" placeholder="Enter year" pattern="\d*" maxlength="4"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')" list="year-options">
            
                <datalist id="year-options">
                    <!-- Year options will be added dynamically with JS -->
                </datalist>
            
                <div class="era-toggle">
                    <input type="radio" id="discovered-ad" name="year_discovered-era" value="AD" checked>
                    <label for="discovered-ad">AD</label>
                    <input type="radio" id="discovered-bc" name="year_discovered-era" value="BC">
                    <label for="discovered-bc">BC</label>
                </div>
            </div>
            
            <script src="{% static 'js/year.js' %}"></script>
            
            <div class="node-attribute">
                <p>Language of source:</p>
                <input type="text" id="language" name="language">
            </div>
            <div class="node-attribute">
                <p>Link to source:</p>
                <input type="text" id="link" name="link">
            </div>
            <div class="node-attribute">
                <p>Description:</p>
                <input type="text" id="description" name="description">
            </div>
           
            <div class="buttons">
                <input type="submit" class="node-model-close" id="create-button" value="Create">
                <input type="button" class="node-model-close" id="cancel-button" value="Cancel">
                
            </div>
            <script src="{% static 'js/popup_close.js' %}"></script>
        </form>
    </div>
</div>


<input type="checkbox" id="source-info-popup" style="display:none">
<div class="source-info-overlay"></div>

<!-- Info Panel (View Mode) -->
<div class="source-info-panel" id="view-source-info-panel">
    <div class="source-info-header">
        <h1>Source</h1>
        <button class="close-button" id="close-button">&times;</button>
    </div>
    <div class="source-info">
        <!-- Title Section -->
        <div class="node-attribute">
            <p><strong>Title:</strong></p>
            <p id="source-title">N/A</p> 
        </div>
        
        <div class="node-attribute">
            <p><strong>Source Type:</strong></p>
            <label for="primary" id="info-primary">Primary</label>
            <label for="secondary" id="info-secondary">Secondary</label>
        </div>
        <div class="node-attribute" id="info-cites-container" style="display: none;">
            <p><strong>Cites:</strong></p>
            <div id="info-selected-cites" class="info-selected-cites"></div>
        </div>

        <div class="node-attribute">
            <p><strong>Author/Creator:</strong></p>
            <p id="source-author">N/A</p>
        </div>

        
        <div class="node-attribute">
            <p><strong>year Created:</strong></p>
            <p id="source-year-created">N/A</p> 
        </div>

        
        <div class="node-attribute">
            <p><strong>year Discovered:</strong></p>
            <p id="source-year-discovered">N/A</p> 
        </div>

        <div class="node-attribute">
            <p><strong>Language:</strong></p>
            <p id="source-language">N/A</p> 
        </div>

        <div class="node-attribute">
            <p><strong>Link:</strong></p>
            <p id="source-link">N/A</p> 
        </div>

        <div class="node-attribute">
            <p><strong>Description:</strong></p>
            <p id="source-description">N/A</p> 
        </div>

        <div class="buttons">
            <input type="button" class="source-info-edit" id="edit-button" value="Edit">
            <input type="button" class="source-info-remove" id="remove-button" value="Remove Node" style="display:none;">
        </div>
    </div>
</div>

<script>
    


    // This function will update the UI based on the current user and the node's contributor
    function updateNodeButtons(nodeData) {
        // Check if the current user is the contributor of the node
        if (nodeData.contributor !== currentUser) {
            // If the current user is NOT the contributor, show the "Remove Node" button
            document.getElementById('remove-button').style.display = 'inline-block';
            document.getElementById('edit-button').style.display = 'none'; // Hide the edit button
        } else {
            // If the current user is the contributor, show the "Edit" button
            document.getElementById('remove-button').style.display = 'none';
            document.getElementById('edit-button').style.display = 'inline-block'; // Show the edit button
        }
    }

    
    document.getElementById('remove-button').addEventListener('click', function() {
    const nodeTitle = getCurrentNodeTitle(); 
     

    fetch('/remove-source-from-project/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            title: nodeTitle,
            project_id: projectId
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert(data.message);
            
        } else {
            alert('Failed to remove node from project');
        }
    })
    .catch(error => {
        console.error('Error removing node from project:', error);
    });
});


    // A function to get the current node ID, should be based on your app's logic
    function getCurrentNodeId() {
        // Assuming you set this when the node is selected or opened in the info panel
        return 'exampleNodeId'; // Replace this with actual logic
    }
</script>


<div class="bib-container" id ="bib-container" style="display:none;">
    <textarea class="textbox" placeholder="Enter Bibliography"></textarea>
    <div class="button-container">
        <button class="bib-submit" id="bib-submit">Submit</button>
        <button class="bib-cancel" id="bib-cancel">Cancel</button>
    </div>
</div>
<script src="{% static 'js/bib.js' %}"></script>

<div class="source-info-panel" id="edit-source-info-panel" style="display:none;">
    <div class="source-info-header">
        <h1>Edit Source</h1>
        <button class="close-button" id="close-edit-button">&times;</button>
    </div>
    <div class="source-info">
        <div class="node-attribute">
            <p><strong>Title:</strong></p>
            <p id="edit-source-title">N/A</p> 
        </div>
        <div class="node-attribute">
            <p><strong>Source Type:</strong></p>
            <input type="radio" id="edit-primary" name="edit-source-type" value="primary">
            <label for="edit-primary" id="edit-primary-label">Primary</label>
            <input type="radio" id="edit-secondary" name="edit-source-type" value="secondary">
            <label for="edit-secondary" id ="edit-secondary-label">Secondary</label>
        </div>
        <div class="node-attribute" id="edit-cites-container" style="display: none;">
                
            <div id="edit-cites-setup" class = "edit-cites-setup">
                <p><strong>Cites:</strong></p>
                <div id="edit-cites-selector" class="edit-cites-selector">Select a Source</div>
                <div id="edit-cites-dropdown" class="edit-cites-dropdown" style="display: none;"></div>
            </div>
            <div id="edit-selected-cites" class="edit-selected-cites"></div>
        </div>
        <div class = "buttons">
            <input type="button" class="source-edit-bib" id="bib-button" value="Cite from Bibliography">
        </div>
        
        <div class="node-attribute">
            <p><strong>Author/creator:</strong></p>
            <input type="text" id="edit-source-author">
        </div>




        <div class="node-attribute">
            <p>Year Created:</p>
        
            <input type="text" class="year-input" id="edit-source-year-created" name="year_input" placeholder="Enter year" pattern="\d*" maxlength="4"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')" list="year-options">
            
                <datalist id="year-options">
                    <!-- Year options will be added dynamically with JS -->
                </datalist>
        
            <div class="era-toggle">
                <input type="radio" id="edit-source-created-ad" name="year_created_era" value="AD" checked>
                <label for="created-ad">AD</label>
                <input type="radio" id="edit-source-created-bc" name="year_created_era" value="BC">
                <label for="created-bc">BC</label>
            </div>
        </div>
        
        <script src="{% static 'js/year.js' %}"></script>




        <div class="node-attribute">
            <p>Year Discovered:</p>
        
            <input type="text" class="year-input" id="edit-source-year-discovered" name="year_input" placeholder="Enter year" pattern="\d*" maxlength="4"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')" list="year-options">
            
                <datalist id="year-options">
                    <!-- Year options will be added dynamically with JS -->
                </datalist>
        
            <div class="era-toggle">
                <input type="radio" id="edit-source-discovered-ad" name="year_discovered_era" value="AD" checked>
                <label for="created-ad">AD</label>
                <input type="radio" id="edit-source-discovered-bc" name="year_discovered_era" value="BC">
                <label for="created-bc">BC</label>
            </div>
        </div>
        
        <script src="{% static 'js/year.js' %}"></script>
            

        <div class="node-attribute">
            <p><strong>Language:</strong></p>
            <input type="text" id="edit-source-language">
        </div>
        <div class="node-attribute">
            <p><strong>Link:</strong></p>
            <input type="url" id="edit-source-link">
        </div>
        <div class="node-attribute">
            <p><strong>Description:</strong></p>
            <textarea id="edit-source-description"></textarea>
        </div>
        <div class = "buttons">
            <input type="button" class="source-info-delete" id="delete-button" value="Delete">
        </div>
        <div class="buttons">
            <input type="button" class="source-info-save" id="save-button" value="Save">
            <input type="button" class="source-info-cancel" id="cancel-edit-button" value="Cancel">
        </div>
    </div>
</div>

<script src="{% static 'js/popup_close.js' %}"></script>

<script src="{% static 'js/edit.js' %}"></script>


{% endblock %}


{% block extra_js %}
<script>
   

    function checkEnter(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            addTag();
        }
    }
</script>
<script src="{% static 'js/create-node.js' %}"></script>
{% endblock %}

