{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myapp/graph.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <div class="banner-content">
        <label for="popup" class="add-node">New Node</label>
    </div>
</div>

<input type="checkbox" id="popup" style="display: none;">
<div class="node-overlay"></div>
<div class="node-model">
    <h1>Create Source</h1>
    <div class="node-input">
        
        <form method="POST" action="/create-node/">
            {% csrf_token %}
            <div class = "node-attribute">
                <p>Name:</p>
                <input type="text" id="node-name" name="node_name" placeholder="Enter source title">
            </div>
            <div class = "node-attribute">
                <p>Source Type:</p>
                <label for="primary" class="node-type">Primary</label>
                <label for="secondary" class="node-type">Secondary</label>

            </div>
            
            <div class ="buttons">
                <input type="submit" class="node-model-close" value="Create">
                <input type="button" id="cancel-button" class="node-model-close" value="Cancel">
            </div>
            <script src="{% static 'js/popup_close.js' %}"></script>

        </form>
    </div>
</div>

    <div id="cy"></div> <!-- Cytoscape container -->

    <!-- Pass Django nodes and edges data to JavaScript safely -->
    <script>
        let nodes = JSON.parse('{{ nodes|escapejs }}');
        let edges = JSON.parse('{{ edges|escapejs }}');
    </script>

{% endblock %}

{% block extra_js %}
    <!-- Cytoscape.js -->
    <script src="https://cdn.jsdelivr.net/npm/cytoscape@3.22.0/dist/cytoscape.min.js"></script>
    <script src="{% static 'js/graph.js' %}"></script>
{% endblock %}
