{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/index.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner-content">
            <h1>Your Projects</h1>
            <div class="create-button">New</div>
        </div>
    </div>
    
    <main>
        <div class="main-content">
            <!-- Loop through the projects and display them -->
            <div class="projects-list">
                {% if projects %}
                    <ul>
                        {% for project in projects %}
                            <li class="project-card">
                                <div class="name">
                                    <p>{{ project.name }}</p>
                                </div>
                                <div class="small-square"></div> <!-- The small square with a solid color -->
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <h1>Welcome to HistoryGraphy</h1>
                    <p>No projects found. Start by creating one!</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
