{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/index.css' %}">
{% endblock %}


{% block content %}
    <div class="banner">
        <div class="banner-content">
            <h1>Your Projects</h1>
            <label for="popup" class="create-button">New</label>
        </div>
    </div>

    <input type="checkbox" id="popup" style="display: none;">
    <div class="project-model-overlay"></div>
    <div class="project-model">
        <h1>Create Project</h1>
        <div class="project-input">
            
            <form method="POST" action="/create-project/">
                {% csrf_token %}
                <div class = "name-input">
                    <p>Name:</p>
                    <input type="text" id="project-name" name="project_name" placeholder="Enter project name">
                </div>
                <div class ="buttons">
                    <input type="submit" id="create-button" class="project-model-close" value="Create">
                    <input type="button" id="cancel-button" class="project-model-close" value="Cancel">
                </div>
                <script src="{% static 'js/popup_close.js' %}"></script>

            </form>
        </div>
    </div>

    <main>
        <div class="main-content">       
            <div class="projects-list">
                {% if projects %}
                    <ul>
                        {% for project in projects %}
                            <li class="project-card">
                                <a href="{% url 'view_project' project.project_id %}" class="project-link">
                                <div class="name">
                                    <p>{{ project.name }}</p>
                                </div>
                                <div class="small-square"></div>
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h1>Welcome to HistoryGraphy</h1>
                    <p>No projects found. Start by creating one!</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
